<div ng-controller="ListClientController">
    <h1>[[title]]</h1>
    
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Client Id</th>
                <th>Client</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="client in clients">
                <td>[[client.client_id]]</td>
                <td>[[client.client_name]]</td>
            </tr>
        </tbody>

        <tfoot>

        </tfoot>
    </table>
</div>